.header {
    @include flex-center;
    position: relative;
    height: 100px;
}

.custom-shape-divider-bottom-1686573733 {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686573733 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
}

.custom-shape-divider-bottom-1686573733 .shape-fill {
    fill: #F4EBFF;
}
